@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wwzg4k');
  src:  url('fonts/icomoon.eot?wwzg4k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wwzg4k') format('truetype'),
    url('fonts/icomoon.woff?wwzg4k') format('woff'),
    url('fonts/icomoon.svg?wwzg4k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-co2:before {
  content: "\e900";
}
.icon-co2neg:before {
  content: "\e901";
}
.icon-drop:before {
  content: "\e902";
}
.icon-dropneg:before {
  content: "\e903";
}
.icon-earth:before {
  content: "\e904";
}
.icon-earthneg:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-googleplus:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-menu-button:before {
  content: "\e909";
}
.icon-nuclear:before {
  content: "\e90a";
}
.icon-nuclearneg:before {
  content: "\e90b";
}
.icon-pinterest:before {
  content: "\e90c";
}
.icon-play:before {
  content: "\e90d";
}
.icon-rightarrow:before {
  content: "\e90e";
}
.icon-rss:before {
  content: "\e90f";
}
