@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:400,700&display=swap&subset=latin-ext');

@keyframes SlideIn{
    0%{
        left: -100%;
        opacity: 0;
    }

    50%{left: 20%;
        opacity: .5;
    }

    100%{
        left: 0%;
        opacity: 1;
    }
}

:root{
    --darker-green: #3bb375;
    --lighter-green: #37b575;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', Arial;
    background-color: #f4f8f7;
}

header{
    background-color: #fff;
    font-family: 'Source Sans Pro', Arial;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.show-desktop{
    display: none;
}

.show-tablet{
    display: none;
}

.logo{
    position: relative;
    height: 70px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.logo:hover{
    left: 3px;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    max-height: 0;
}

.menu li a{
    text-align: center;
    color: #000;
    display: block;
    padding: 25px;
    text-decoration: none;
}

.menu a:hover{
    background-color: var(--darker-green);
    color: #fff;
}

.menu-btn{
    display: none;
}

.icon-menu-button{
    position: relative;
    float: right;
    padding-top: 21px;
    padding-right: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

.icon-menu-button:hover{
    right: 3px;
}

.menu-btn:checked ~ .show-desktop{
    display: block;
}

.menu-btn:checked ~ .menu{
    max-height: 500px;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/mainpic.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-inner{
    position: relative;
    padding: 5px;
    font-size: 28px;
    font-style: normal;
    color: #fff;
    left: -100%;
    opacity: 0;
    animation: SlideIn .75s .5s cubic-bezier(.11,1.16,1,-0.15) forwards;
}

.hero-title{
    font-size: 50px;
    line-height: 60px;
}

.hero-subtitle{
    font-size: 25px;
    line-height: 30px;
}

.about{
    transform: translateY(-17.3%);
}

.about-card{
    list-style: none;
    width: calc(100% - 80px);
    height: 340px;
    margin: 20px auto 40px;
    background-color: var(--darker-green);
}

.about-card-text{
    box-sizing: border-box;
    color: #fff;
    height: 50%;
    padding: 30px;
    font-size: 3.25vw;
}

.about-card h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.about-card figure{
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.woman-img{
    background-image: url(images/woman.jpg);
}

.hands-img{
    background-image: url(images/hands.jpg);
}

.globe-img{
    background-image: url(images/globe.jpg);
}

.visually-hidden{ 
    /*visually hidden class created for correct headings arrangement */
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.offer-title , .offer-subtitle{
font-family: 'Source Sans Pro', Arial;
} 

.offer{
    box-sizing: border-box;
    margin-top: -140px;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.offer-title{
    font-size: 33px;
    color: #3b4851;
}

.offer-subtitle{
    font-size: 22px;
    color: #61707a;
    margin-bottom: 40px;
}

.offer-card{
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 40px;
    list-style: none;
}

.offer-card-pictogram{
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 40px;
    padding: 37px;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #39464f;
    color: #fff;
    font-size: 75px;
}

.offer-card-text h4{
    font-size: 24px;
    color: #39464f;
    margin-bottom: 8px;
}

.offer-card-text{
    font-size: 17px;
    margin-bottom: 40px;
    color: #9f9f9f;
}

.card-btn{
    font-family: 'Source Sans Pro', Arial;
    text-decoration: none;
    color: #39464f;
    font-weight: bold;
    font-size: 17px;
}

.card-btn:hover{
    color: var(--darker-green);
}

.articles{
    background-color: #fff;
    margin-top: 50px; 
    padding-top: 40px;  
}

.articles-title{
    font-size: 22px;
    color: #39464f;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

.article-card{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.article-card-image{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.article-card-text h4{
    color: var(--lighter-green);
    line-height: 30px;
}

.article-card-text{
    color: #9f9f9f;
    margin-bottom: 40px;
}

.article-card-btn{
    border-radius: 5px;
    background-color: black;
    text-decoration: none;
    color: #fff;
    padding: 7px 24px 10px 24px;
    font-size: 12px;
    text-transform: uppercase;
}

.article-card-btn:hover{
    background-color: #39464f;
    color: var(--lighter-green);
}

footer{
    font-family: 'Source Sans Pro', Arial;
    text-align: center;
    background-color: #3d484d;
    color: #fff;
    margin-top: 130px;
    padding: 50px 0 100px;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
}

footer ul li a:hover{
    color: var(--darker-green);
}

.social-pictogram{
    font-size: 17px;
    margin-right: 15px;
}

footer h3{
    margin-right: 15px;
    font-size: 38px;
    margin-bottom: 10px;
}

footer h4{
    margin-right: 15px;
    font-size: 18px;
}

footer h4 span{
    font-size: 10px;
}

@media screen and (min-width: 480px){    
    .menu li a{
        font-size: 20px;
    }

    .hero-title{
        font-size: 56px;
    }

    .hero-subtitle{
        font-size: 30px;
    }
    
    .about{
        transform: translateY(-17.2%);
    }
    
    .about-card{
        width: calc(100% - 100px);
        height: 400px;
    }

    .about-card-text h4{
        font-size: 1.4em;
    }

    .about-card-text{
        font-size: 1.1em;
    }

    .article-card{
        box-sizing: border-box;
        list-style: none;
        width: calc(100% - 100px);
    }

    .offer{
        margin-top: -210px;
    }

    .offer-title{
        font-size: 40px;
    }
    
    .offer-subtitle{
        font-size: 26px;
    }

    .offer-card-text h4{
        font-size: 28px;
    }

    .offer-card-text{
        font-size: 20px;
    }

    .card-btn{
        font-size: 20px;
    }

    .articles{
        margin-bottom: 200px;
    }

    .articles-title{
        font-size: 26px;
    }

    .article-card-text h4{
        font-size: 20px;
    }

    .article-card-text{
        font-size: 18px;
    }

    .article-card-btn{
        font-size: 18px;
    }

    footer{
        padding: 70px 0 140px;
    }
}

@media screen and (min-width: 736px){
    .show-tablet{
        display: block;
    }

    .about{
        transform: translateY(-183px);
        margin: 0 50px 0 50px;
        height: 100vh;
    }

    .about ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, minmax(326px ,1fr));
        grid-gap: 25px;
    }

    .about-card{
        width: 100%;
        height: 100%;
    }

    .about-card-text h4{
        font-size: 1.4em;
    }

    .about-card-text{
        padding: 30px;
        font-size: .95em;
    }

    .about-card:nth-child(1){
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    .about-card:nth-child(2){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .about-card:nth-child(3){
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    .offer{
        box-sizing: border-box;
        margin-top: 1px;
        padding: 0 50px 0 50px;
    }

    .offer-card{
        margin-top: 30px;
        width: 100%;
        height: 100%;
    }

    .offer ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;
    }

    .articles{
        padding: 0 20px 0 20px;
        padding-bottom: 250px;
        margin-bottom: 0;
    }

    .articles ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 50px;
        grid-column-gap: 20px;
    }

    .article-card{
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .article-card:nth-child(1){
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .article-card:nth-child(2){
        grid-column: 3 / 5;
        grid-row: 1 / 2

    }

    .article-card:nth-child(3){
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .partners{
        padding: 0 20px 120px 20px;
        background-color: #fff;
    }

    .partner-list{
        display: flex;
        justify-content: space-between;
    }

    .partner-logo{
        list-style: none;
        color: #b3b3b3;
        font-size: 4.5vw;
    }

    footer{
        margin-top: 0;
    }

}

@media screen and (min-width: 980px){
    .show-desktop{
        display: block;
    }

    .logo{
        height: 100px;
        padding-left: 20px;
        padding-right: 100px;
    }
    
    .icon-menu-button{
        display:none;
    }

    .menu{
        width: 500px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        clear: none;
        grid-gap: 1px;
        padding-left: 270px;
    }
    
    .menu li a{
        font-size: .9rem;
        padding: 45px 15px 15px;
    }

    .hero-title{
        font-size: 1.65em;
    }

    .about{
        padding: 0 5rem;
        transform: translateY(-195px);
    }

    .about-card{
        box-sizing: border-box;
        height: 350px;
        width: calc((100% / 3) - 20px);
    }

    .about-card-text{
        font-size: 1.2vw;
    }

    .about ul{
        display: flex;
        justify-content: space-between;
    }

    .offer{
        margin-top: -400px;
    }

    .offer-title{
        font-size: 1.85em;
    }

    .offer-subtitle{
        font-size: 1.3em;
    }

    .offer ul{
        display: flex;
        justify-content: space-between;
    }

    .offer-card{
        padding: 0 25px;
    }

    .offer-card-pictogram{
        width: 100px;
        height: 100px;
        font-size: 60px;
        padding: 20px;
    }

    .offer-card-text h4{
        font-size: 1.3em;
    }

    .offer-card-text{
        font-size: .9em;
    }

    .card-btn{
        font-size: 1em;
    }

    .articles{
        padding: 0 45px 50px;
        margin-bottom: 50px;
    }

    .articles-title{
        text-align: start;
        margin-left: 24px;
    }

    .articles ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .article-card-text h4{
        font-size: 1.1em;
    }

    .article-card-text{
        font-size: .9em;
        text-align: left;
        margin-bottom: 30px;
    }

    .article-card-btn{
        float: left;
        padding: 7px 24px 10px 24px;
        font-size: 12px;
    }

    .company-info{
        padding: 0 60px 100px;
        position: relative;
    }

    .company-info ul li{
        list-style: none;
    }

    .company-info-list{
        list-style: none;
        counter-reset: counter;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
    }

    .company-info-list .custom-counter{
        counter-increment: counter;
    }

    .company-info-list .custom-counter:before{
        content: "0"counter(counter)".";
        color: var(--lighter-green);
        font-size: 2.1em;
        font-weight: 800;
        line-height: 40px;
    }

    .company-info-card h4{
        color: #39464f;
        font-size: 16px;
        line-height: 70px;
        border-bottom: 1px dashed #a0aab0;
    }

    .company-info-sublist{
        font-size: 12px;
        margin-top: 20px;
        line-height: 30px;
        color: #808b92;
    }

    .company-info-sublist li::before{
        font-family: 'icomoon';
        font-size: 12px;
        margin-right: 12px;
        color: var(--lighter-green);
        content: "\e901";
    }

    .company-info .card-btn{
        position: absolute;
        bottom: 15%;
    }

    .partners{
        padding: 70px;
    }

    .partner-logo{
        font-size: 3vw;
    }

    footer{
        padding: 45px;
    }



}

@media screen and (min-width: 1280px){

}